*.8
*.o
*.la
*.lo
*.orig

.deps
.dirstamp
.libs

openbsd

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/l*.m4
missing
Makefile
Makefile.in
rpki-client-*

*.tal
compat/explicit_bzero.c
compat/imsg-buffer.c
compat/imsg.c
compat/reallocarray.c
compat/recallocarray.c
compat/sha2.c
compat/strlcat.c
compat/strlcpy.c
compat/strtonum.c
compat/vis.c

include/sha2_openbsd.h
include/imsg.h
include/vis.h

src/*.c
src/*.h
src/rpki-client
src/rpki-client.8.in
